{%load static%}
<link rel="stylesheet" href="{% static 'style.css' %}">
<nav class="navbar sticky-top navbar-light bg-light">
    <!-- Created a container  -->
        
        <a href="/">Home</a>
        {% if request.user.is_authenticated %}
        <a href="{%url 'projects'%}">Projects</a>
        <a href="{%url 'post' %}">Post Project</a>
        <a href="{% url 'api_profiles' %}">API Profile</a>
        <a href="{% url 'api_projects' %}">API Project</a>
        <div class="search">
            <form class="d-flex input-group w-auto" action="{% url 'search'%}" method="get">
                {% csrf_token %}
                <input type="search" class="form-control rounded" name="title" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" style="padding-top:10px ; margin-top: 5px;" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </form>
        </div>
        <li class="nav-item" style="list-style-type: none; ">
            <a href="/profile" class=" split">See Profile{{request.user}}</a>
        </li> &nbsp;
         <a class="nav-link" href="/signout">Log Out</a>
        {% else %}
           
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'userlogin'%}">Login</a>
        {%endif %}
        <!-- Created search container  -->
        
       
</nav>
       