{%extends 'base.html'%}
{%load bootstrap4 %}
{% block content%}
<div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if my_profile.profile_pic%}
                        <img src="{{my_profile.profile_pic.url}}" alt="profile_picture" class="img-fluid"
                            style="width: 200px; border-radius: 60px;">
                        {% else%}
                        <h1>No Image</h1>
                        {% endif %}
                        <h5 class="my-3">{{user.username}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{my_profile.name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Bio</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{my_profile.bio}}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <li style="list-style-type: none; margin-right: 10%;"><a class="dropdown-item" href="{% url 'update'  %}">Update Profile</a></li>
</section>
</div>
{% endblock%}