{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
  <div class="container">
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>REGISTER</h2>
                <div class="underline-title"></div>
            </div>
            <form action="" method='post'>
                {%csrf_token%}
                {{register_form|crispy}}
                <input type="submit" value="SignUp" class="mt-2 btn btn-primary w-60 disabled" id="submit-btn">
                <br>
            </form> 
            <a href="{%url 'userlogin'%}" id="signup">Have an account? Login</a>
        </div>     
</div>
{%endblock%}