{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}

<body>
    <div class="container">
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>LOGIN</h2>
                <div class="underline-title"></div>
            </div>
            <form method="post">
                {%csrf_token%}
                {{form|crispy}}
                <input type="submit" value="LogIn" class="mt-2 btn btn-primary w-60 disabled">
            </form>
        </div>
        </div>
    </div>
</body>

{%endblock%}